@font-face {
  font-family: "roboto";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/roboto.woff2") format("woff2"),
    url("../fonts/roboto.woff") format("woff");
}

@font-face {
  font-family: "roboto";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/robotomedium.woff2") format("woff2"),
    url("../fonts/robotomedium.woff") format("woff");
}

@font-face {
  font-family: "roboto";
  font-weight: 900;
  font-style: normal;
  src: url("../fonts/robotobold.woff2") format("woff2"),
    url("../fonts/robotobold.woff") format("woff");
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.site-wrapper {
  min-width: 1200px;
  min-height: 100vh;
  -webkit-transition: background-image .5s ease, background-color .5s ease;
  -o-transition: background-image .5s ease, background-color .5s ease;
  transition: background-image .5s ease, background-color .5s ease;
  background-color: #849d8f;
  background-image: url("../img/slider-ice-1.png");
  background-repeat: no-repeat;
  background-position: top center;
}

.site-wrapper::before,
.site-wrapper::after {
  visibility: hidden;
  content: "";
}

.site-wrapper::before {
  background-image: url("../img/slider-ice-2.png");
}

.site-wrapper::after {
  background-image: url("../img/slider-ice-3.png");
}

.slider {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 43px;
  padding-top: 257px;
  text-align: center;
  color: #fff;
}

.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slide {
  display: none;
}

.slide-title {
  font-size: 60px;
  font-weight: 800;
  line-height: 60px;
  width: 700px;
  margin: 0 auto;
  margin-bottom: 34px;
}

.button {
  font-size: 31px;
  font-weight: 600;
  line-height: 41px;
  display: inline-block;
  padding: 12px 44px;
  cursor: pointer;
  text-align: center;
  vertical-align: top;
  vertical-align: middle;
  text-decoration: none;
  color: #fff;
  border: none;
  border-radius: 50px;
  background: #f26843;
  background: -webkit-gradient(linear, left top, left bottom, from(#f26843), to(#e74a35));
  background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: -o-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  -webkit-box-shadow: 0 2px 2px rgba(172, 16, 0, .64);
  box-shadow: 0 2px 2px rgba(172, 16, 0, .64);
  text-shadow: 0 2px 5px rgba(160, 32, 11, .76);
}

.button:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#f58669), to(#ec6f5e));
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: -o-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  -webkit-box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.button:active {
  background: -webkit-gradient(linear, left top, left bottom, from(#d84732), to(#e1613e));
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: -o-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  -webkit-box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.slider-controls {
  font-size: 0;
  position: absolute;
  z-index: 20;
  bottom: 20px;
  left: 0;
}

.slider-controls label {
  display: inline-block;
  width: 21px;
  height: 21px;
  margin-right: 8px;
  cursor: pointer;
  vertical-align: top;
  border: 2px solid #fff;
  border-radius: 50%;
  background-color: transparent;
}

.slider-controls label:hover {
  background-color: rgba(255, 255, 255, .4);
}

#product-1:checked~.site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/slider-ice-1.png");
}

#product-2:checked~.site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/slider-ice-2.png");
}

#product-3:checked~.site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/slider-ice-3.png");
}

#product-1:checked~.site-wrapper #slide1,
#product-2:checked~.site-wrapper #slide2,
#product-3:checked~.site-wrapper #slide3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

#product-1:checked~.site-wrapper label[for="product-1"],
#product-2:checked~.site-wrapper label[for="product-2"],
#product-3:checked~.site-wrapper label[for="product-3"] {
  background-color: #fff;
}

.page-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  align-items: stretch;
  -ms-flex-align: stretch;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  padding: 0;
}

.page-body--inner-page {
  background-color: #849d8f;
}

.container {
  position: relative;
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 27px;
  padding-left: 27px;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.text {
  font-family: roboto, arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
  margin-top: 0;
  padding-top: 0;
  text-align: left;
  color: #323232;
}

.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  align-items: flex-start;
  -ms-flex-align: start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-top: 7px;
}

.header__column-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  align-items: flex-end;
  -ms-flex-align: end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-left: auto;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.navigation__logo {
  position: relative;
  margin-top: 2px;
}

.navigation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  margin-top: 15px;
  padding: 0;
  padding-left: 9px;
  list-style: none;
}

.navigation-list__item {
  position: relative;
  padding-bottom: 20px;
}

.navigation-list__link {
  font-family: roboto, arial, sans-serif;
  font-size: 16px;
  font-weight: 900;
  line-height: 22px;
  display: block;
  padding-top: 4px;
  padding-right: 14px;
  padding-bottom: 6px;
  padding-left: 14px;
  text-align: left;
  text-decoration: underline;
  color: white;
  border-radius: 50px;
  background-color: transparent;
}

.navigation-list__link:hover {
  text-decoration: none;
  color: black;
  background-color: white;
}

.navigation-list__link:active {
  text-decoration: none;
  color: black;
  background-color: white;
  -webkit-box-shadow: inset 0 2px 1px 1px #696969;
  box-shadow: inset 0 2px 1px 1px #696969;
}

.navigation-list__link--current {
  text-decoration: none;
  background-color: #d07058;
}

.nested-list {
  position: absolute;
  z-index: 1;
  top: 38px;
  left: -6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  clip: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 143px;
  margin-left: 0;
  padding-bottom: 7px;
  padding-left: 0;
  list-style: none;
  border-radius: 5px;
  background-color: white;
  -webkit-box-shadow: 0 20px 20px 0 rgba(0, 0, 0, .4);
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, .4);
}

.navigation-list__item>.navigation__nested-list {
  display: none;
}

.navigation-list__item:hover>.navigation__nested-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nested-list__item {
  display: block;
}

.nested-list__link {
  font-family: roboto, arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 16px;
  display: block;
  margin-bottom: -5px;
  padding: 10px;
  padding-left: 20px;
  text-decoration: none;
  color: black;
  background-color: white;
}

.nested-list__link:hover {
  background-color: #fbded7;
}

.nested-list__link:active {
  background-color: #d07058;
}

.nested-list__link--heading {
  font-weight: 900;
  position: relative;
  margin-bottom: 3px;
}

.nested-list__link--heading::after {
  position: absolute;
  top: 38px;
  left: 6px;
  display: block;
  width: 128px;
  height: 1px;
  content: "";
  background-color: #d1d0ce;
}

.user-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  align-items: flex-start;
  -ms-flex-align: start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin: 0;
  margin-right: 1px;
  padding-top: 15px;
  padding-left: 0;
  list-style: none;
}

.user-navigation__item {
  position: relative;
  display: block;
  margin-left: 12px;
  padding: 0;
  padding-bottom: 20px;
}

.user-navigation__icon {
  font-family: roboto, arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 5px;
  padding-right: 16px;
  padding-bottom: 5px;
  padding-left: 16px;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  color: white;
  border-style: none;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, .2);
}

.user-navigation__button-icon {
  margin-right: 6px;
}

.user-navigation__icon:hover {
  color: black;
  background-color: rgba(255, 255, 255, 1);
}

.user-navigation__icon--search {
  width: 32px;
  height: 32px;
  padding: 5px;
  vertical-align: middle;
  border-radius: 50%;
}

.user-navigation__icon--search:hover>svg>path {
  fill: black;
}

.user-navigation__icon--login:hover>svg>g {
  fill: black;
}

.user-navigation__popup-form {
  top: 37px;
  right: -2px;
  -webkit-box-shadow: 0 20px 20px 0 rgba(0, 0, 0, .4);
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, .4);
}

.user-navigation__form-login {
  width: 277px;
}

.form-login__input {
  margin-bottom: 20px;
}

.form-login__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.popup-form {
  position: absolute;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 20px 15px;
  border-color: #d3d3d2;
  border-radius: 5px;
  background-color: #f8f7f4;
}

.user-navigation__item>.user-navigation__popup-form {
  display: none;
}

.user-navigation__item:hover>.user-navigation__popup-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search-form {
  width: 341px;
}

.shopping-cart-icon:hover>svg>g {
  fill: black;
}

.shopping-cart-nested {
  width: 540px;
}

.input {
  font-family: roboto, arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  padding: 10px;
  text-decoration: none;
  color: #000;
  border-width: 1px;
  border-style: solid;
  border-color: #d3d3d2;
  border-radius: 5px;
  background-color: white;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.input::-webkit-input-placeholder {
  font-weight: 300;
  opacity: 1;
  color: #999;
}

.input:-ms-input-placeholder {
  font-weight: 300;
  opacity: 1;
  color: #999;
}

.input::-ms-input-placeholder {
  font-weight: 300;
  opacity: 1;
  color: #999;
}

.input::placeholder {
  font-weight: 300;
  opacity: 1;
  color: #999;
}

.input:hover {
  -webkit-box-shadow: 0 0 0 1px #d3d3d2;
  box-shadow: 0 0 0 1px #d3d3d2;
}

.input:focus {
  border-color: rgba(46, 136, 228, .52);
  outline: none;
  -webkit-box-shadow: 0 0 0 1px rgba(46, 136, 228, .52);
  box-shadow: 0 0 0 1px rgba(46, 136, 228, .52);
}

.button {
  font-family: roboto, arial, sans-serif;
  font-size: 18px;
  font-weight: 900;
  line-height: 24px;
  display: inline-block;
  padding: 10px;
  padding-right: 20px;
  padding-left: 20px;
  -webkit-transform: matrix(1.04013375779322, 0, 0, 1.04013375779322, 0, 0);
  -moz-transform: matrix(1.04013375779322, 0, 0, 1.04013375779322, 0, 0);
  -ms-transform: matrix(1.04013375779322, 0, 0, 1.04013375779322, 0, 0);
  text-align: center;
  text-decoration: none;
  color: white;
  border: none;
  border-radius: 50px;
  background-color: white;
  background-image: -webkit-linear-gradient(90deg, rgb(231, 74, 53) 0%, rgb(242, 104, 67) 100%);
  background-image: -ms-linear-gradient(90deg, rgb(231, 74, 53) 0%, rgb(242, 104, 67) 100%);
  -webkit-box-shadow: 0 2px 2px 0 rgba(172, 16, 0, .64);
  box-shadow: 0 2px 2px 0 rgba(172, 16, 0, .64);
  text-shadow: 0 2px 5px rgba(160, 32, 11, .76);
}

.link {
  font-family: roboto, arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  text-align: center;
  text-decoration: underline;
  color: white;
}

.form-login__button {
  margin-right: 20px;
  margin-left: 5px;
  padding-right: 24px;
  padding-left: 23px;
  text-shadow: none;
}

.link:hover {
  color: #ffbc9e;
}

.link:active {
  color: #ffbc9e;
}

.popup-form__link {
  font-size: 13px;
  font-weight: 300;
  color: black;
}

.shopping-cart-icon--full {
  color: black;
  background-color: white;
}

.shopping-cart-nested__list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.shopping-cart-nested__list::after {
  position: relative;
  display: block;
  width: 100%;
  height: 1px;
  content: "";
  background-color: #cacac7;
}

.shopping-cart-nested__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  align-items: flex-start;
  -ms-flex-align: start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-bottom: 12px;
}

.shopping-cart-nested__item:last-child {
  margin-bottom: 0;
}

.button-delete {
  display: block;
  width: 15px;
  height: 15px;
  margin-top: 8px;
  margin-right: 11px;
  margin-left: 0;
  cursor: pointer;
  border: none;
  border-radius: 0;
  background-color: transparent;
  background-image: url("../img/cross-small.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.shopping-cart-nested__preview {
  margin-right: 13px;
}

.shopping-cart-nested__cost {
  font-size: 15px;
  font-weight: 900;
  margin-right: 10px;
  text-align: right;
}

.shopping-cart-nested__description {
  font-size: 13px;
  line-height: 18px;
  width: 230px;
  margin-top: 6px;
  margin-right: 17px;
}

.shopping-cart-nested__quantity {
  font-size: 13px;
  width: 100px;
  margin-top: 6px;
  margin-right: 23px;
}

.shopping-cart-nested__price {
  font-size: 13px;
  width: 60px;
  color: #999;
}

.shopping-cart-nested__cost {
  font-size: 13px;
  margin-top: 6px;
}

.shopping-cart-nested__cost--summ {
  font-size: 15px;
  margin-top: 12px;
}

.shopping-cart-nested__button {
  -ms-flex-item-align: end;
  align-self: flex-end;
  margin-top: 14px;
  padding-right: 17px;
  padding-left: 16px;
  letter-spacing: -.5px;
  text-shadow: none;
}

.header-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  align-items: flex-end;
  -ms-flex-align: end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: -5px;
  color: white;
}

.header-contacts__text {
  font-size: 14px;
  font-weight: 900;
  color: inherit;
}

.telephone {
  font-family: roboto, arial, sans-serif;
  font-size: 22px;
  font-weight: 900;
  text-decoration: none;
  color: inherit;
}

.slide-title {
  font-family: roboto, arial, sans-serif;
  font-size: 60px;
  font-weight: 900;
  line-height: 60.35px;
  color: white;
}

.slide-button {
  font-size: 32px;
  font-weight: 900;
  line-height: 44px;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  padding-top: 7px;
  padding-right: 38px;
  padding-bottom: 9px;
  padding-left: 38px;
  letter-spacing: -.5px;
}

.stock {
  margin-top: 30px;
}

.stock__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.stock-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  align-items: flex-start;
  -ms-flex-align: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 560px;
  min-height: 229px;
  padding-top: 14px;
  padding-right: 24px;
  padding-bottom: 24px;
  padding-left: 18px;
  border-radius: 15px;
}

.stock-item--raspberries {
  background-color: #962d47;
  background-image: url("../img/background-raspberries.jpg");
  background-position-x: -50px;
  background-position-y: -94px;
}

.stock-item--chocolate {
  background-color: #4b2915;
  background-image: url("../img/background-chocolate.jpg");
  background-position-x: -218px;
  background-position-y: -104px;
}

.stock-item__title {
  font-family: roboto, arial, sans-serif;
  font-size: 35px;
  font-weight: 900;
  line-height: 41px;
  margin-top: 0;
  margin-bottom: 16px;
  text-align: left;
  color: white;
}

.stock-item__text {
  font-family: roboto, arial, sans-serif;
  font-size: 18px;
  font-weight: 900;
  line-height: 22px;
  width: 100%;
  text-align: left;
  color: white;
}

.stock-item__button {
  -ms-flex-item-align: end;
  align-self: flex-end;
  margin-top: auto;
  text-shadow: none;
}

.catalog {
  margin-top: 40px;
}

.calalog-list {
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-item {
  position: relative;
  z-index: 1;
  width: 267px;
  margin: 0;
  margin-bottom: 36px;
  padding: 0;
  vertical-align: middle;
}

.catalog-item__wrapper-image {
  position: relative;
  z-index: 6;
}

.catalog-item__wrapper-image--flag::before {
  position: absolute;
  z-index: 7;
  top: -1px;
  left: -1px;
  display: block;
  width: 62px;
  height: 62px;
  content: "хит";
  border-radius: 50%;
  background-color: white;
  background-image: url("../img/hit.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.catalog-item__title {
  z-index: 6;
  max-width: 258px;
  margin-top: 13px;
  margin-right: auto;
  margin-left: auto;
}

.catalog-item__link {
  line-height: 23px;
  position: relative;
  z-index: 6;
  display: block;
  text-align: center;
}

.catalog-item__image {
  margin-right: auto;
  margin-left: auto;
}

.catalog-item__flag {
  font-size: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 62px;
  height: 62px;
  border-radius: 50%;
  background-color: white;
  background-image: url("../img/hit.svg");
  background-repeat: no-repeat;
}

.catalog-item__price {
  font-family: roboto, arial, sans-serif;
  font-size: 45px;
  font-weight: 900;
  font-weight: bold;
  line-height: 45px;
  position: absolute;
  top: 207px;
  left: -2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  align-items: baseline;
  -ms-flex-align: baseline;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin: 0;
  padding: 0;
  text-align: left;
  color: white;
  text-shadow: 0 1px 3px rgba(49, 50, 53, .5);
}

.catalog-item__price--measure {
  font-size: 30px;
  position: relative;
  padding-left: 36px;
}

.catalog-item__price--measure::before {
  position: absolute;
  bottom: 9px;
  left: 6px;
  display: block;
  width: 30px;
  height: 33px;
  content: "";
  background-image: url("../img/ruble.png");
  background-repeat: no-repeat;
  background-position: center;
}

/*Разобраться с тенюшечкой.*/
.catalog-item__container {
  z-index: 4;
  display: none;
  width: 100%;
  margin-top: 9px;
  margin-bottom: 5px;
  text-align: center;
}

.catalog-item:hover {
  z-index: 2;
}

.catalog-item:hover>.catalog-item__container {
  position: absolute;
  z-index: 5;
  top: 324px;
  display: block;
}

.catalog-item:hover>.catalog-item__container::after {
  position: absolute;
  z-index: -1;
  top: -340px;
  left: -13px;
  display: block;
  width: 293px;
  height: 405px;
  content: "";
  border-radius: 5px;
  background-color: rgba(255, 255, 255, .2);
  -webkit-box-shadow: 0 20px 20px 0 rgba(0, 0, 0, .4);
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, .4);
}

.catalog-item__button {
  display: inline-block;
  padding-top: 7px;
  padding-right: 16px;
  padding-bottom: 11px;
  padding-left: 16px;
  text-align: center;
  letter-spacing: -.02em;
  text-shadow: none;
}

.catalog-item__container::after {
  display: block;
  content: "";
}

.advantages {
  margin-bottom: 40px;
  padding: 20px;
  padding-top: 25px;
  padding-bottom: 2px;
  border-radius: 16px;
  background-color: #e8d3ad;
  background-image: url("../img/pattern-waffle.jpg");
}

.advantages__description {
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  margin-bottom: 21px;
}

.advantages-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages-item {
  position: relative;
  width: 540px;
  margin-bottom: 6px;
  padding-left: 56px;
}

.advantages-item::before {
  position: absolute;
  top: -13px;
  left: 0;
  width: 62px;
  height: 62px;
  content: "";
  background-repeat: no-repeat;
}

.advantages-item--ice-cream::before {
  background-image: url("../img/ice-cream.svg");
}

.advantages-item--cow::before {
  background-image: url("../img/cow.svg");
}

.advantages-item--eco::before {
  background-image: url("../img/eco.svg");
}

.advantages-item--thermometer::before {
  background-image: url("../img/thermometer.svg");
}

.advantages-list:nth-child(4)::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 62px;
  height: 62px;
  content: "";
  background-image: url("../img/thermometer.svg");
}

.news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 40px;
}

.news__item {
  width: 560px;
  min-height: 220px;
}

.news-article {
  padding-top: 24px;
  padding-right: 212px;
  padding-bottom: 20px;
  padding-left: 19px;
  border-radius: 15px;
  background-color: white;
  background-image: url("../img/article-illustration.jpg");
  background-repeat: no-repeat;
  background-position-x: -52px;
  background-position-y: -224px;
}

.news-article__title {
  font-family: roboto, arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  margin: 0;
  margin-bottom: 8px;
  padding: 0;
  text-align: left;
  color: white;
  color: #323232;
}

.news-article__link {
  font-size: 24px;
  font-weight: 900;
  line-height: 28px;
  color: #323232;
}

.subscription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100%;
  padding-top: 29px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 22px;
  border-radius: 5px;
  background-color: #f8f7f4;
}

.subscription-conteiner {
  padding: 5px;
  border-radius: 5px;
  background-image: url("../img/bg-post.svg");
}

.subscription__subscription-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  width: 100%;
}

.subscription-form__input {
  font-size: 16px;
  width: 100%;
  margin-right: 10px;
}

.subscription__text {
  margin-bottom: 35px;
}

.subscription-form__button {
  font-size: 16px;
  -ms-flex-item-align: end;
  align-self: flex-end;
  margin-right: 13px;
  margin-left: 4px;
  padding-right: 18px;
  padding-left: 18px;
  letter-spacing: .6px;
  text-shadow: none;
}

.contacts {
  position: relative;
  display: block;
}

.contacts-wrapper {
  position: absolute;
  top: 61px;
  right: 29px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 300px;
  padding-top: 30px;
  padding-right: 20px;
  padding-bottom: 30px;
  padding-left: 25px;
  border-radius: 15px;
  background-color: white;
}

.contacts__text {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 1px;
}

.address {
  margin-bottom: 22px;
}

.contacts__text--address {
  font-size: 18px;
  font-weight: 900;
  font-style: normal;
  line-height: 22px;
}

.contacts__button {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  margin-top: 25px;
  padding: 10px 30px;
  letter-spacing: -.5px;
  text-shadow: none;
}

.contacts__telephone {
  font-size: 18px;
  line-height: 27px;
}

.contacts__map {
  width: 100%;
  height: 428px;
  border: 0;
  background-image: url("../img/map.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.page-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  align-items: flex-start;
  -ms-flex-align: start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  padding-top: 0;
  padding-bottom: 0;
}

.page-footer--inner-page {
  -webkit-box-shadow: 0 -1px 0 0 rgba(255, 255, 255, .3);
  box-shadow: 0 -1px 0 0 rgba(255, 255, 255, .3);
}

.page-footer__social-list {
  margin-top: 36px;
  margin-left: 4px;
}

.page-footer__legal-list {
  margin: 0;
  margin-top: 28px;
  margin-left: 210px;
}

.page-footer__copyright {
  margin-top: 15px;
  margin-left: auto;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  height: 60px;
  padding: 0;
  list-style: none;
}

.social-item {
  margin: 0;
  margin-left: 17px;
  padding: 0;
}

.social-item:first-child {
  margin-left: 0;
}

.social-item__link {
  display: block;
  width: 32px;
  height: 32px;
  opacity: .8;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-box-shadow: 0 0 0 2px rgba(255, 255, 255, .5);
  box-shadow: 0 0 0 2px rgba(255, 255, 255, .5);
}

.social-item__link:active {
  -webkit-box-shadow: 0 0 0 2px rgba(255, 255, 255, .5), inset 0 0 10px 10px rgba(88, 88, 88, .2);
  box-shadow: 0 0 0 2px rgba(255, 255, 255, .5), inset 0 0 10px 10px rgba(88, 88, 88, .2);
}

.social-item__link:hover {
  opacity: 1;
}

.social-item__link--twitter {
  background-image: url("../img/twitter.svg");
}

.social-item__link--instagram {
  background-image: url("../img/instagram.svg");
}

.social-item__link--facebook {
  background-image: url("../img/fb.svg");
}

.social-item__link--vkontakte {
  background-image: url("../img/vk.svg");
}

.legal-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  width: 475px;
  padding: 0;
  list-style: none;
}

.legal-item {
  display: block;
  padding-left: 30px;
}

.legal-item:nth-child(odd) {
  width: 143px;
  margin-right: 0;
}

.legal-item:nth-child(even) {
  width: 195px;
}

.legal-item__link {
  font-size: 13px;
  font-weight: 300;
  line-height: 22px;
  display: block;
  text-align: left;
}

.legal-item__link--accent {
  font-weight: 900;
  position: relative;
  display: block;
}

.legal-item__link--accent::before {
  position: absolute;
  top: 5px;
  left: -22px;
  display: block;
  width: 15px;
  height: 15px;
  content: "";
  background-image: url("../img/heart.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.copyright__text {
  font-size: 12px;
  line-height: 16px;
  color: white;
}

.copyright__link {
  font-size: inherit;
  line-height: inherit;
  color: inherit;
}

.paginator {
  position: relative;
  left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin-right: -2px;
  margin-bottom: 31px;
}

.paginator-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  list-style: none;
}

.paginator-item {
  margin-right: 2.7px;
}

.paginator-item__link {
  font-family: roboto, arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 27px;
  display: block;
  min-width: 27px;
  text-align: center;
  text-decoration: none;
  color: white;
  border-radius: 13px;
}

.paginator-item__link:hover {
  background-color: rgba(255, 255, 255, .2);
}

.paginator-item__link--current {
  color: #323232;
  background-color: white;
}

.paginator-item__link--current:hover {
  background-color: white;
}

.paginator-item__link--back:hover {
  background-color: transparent;
}

.paginator-item__link--next:hover {
  background-color: transparent;
}

.paginator-item__link--back {
  font-size: 0;
  width: 27px;
  height: 27px;
  color: transparent;
  background-image: url("../img/icon-left-small.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.paginator-item__link--next {
  font-size: 0;
  width: 27px;
  height: 27px;
  color: transparent;
  background-image: url("../img/icon-right-small.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.paginator-item__link--disable {
  opacity: .2;
}

.feedback-container {
  position: fixed;
  z-index: 12;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(32, 32, 32, .5);
}

.feedback {
  top: 50%;
  left: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 477px;
  padding-top: 15px;
  padding-right: 24px;
  padding-left: 24px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 10px;
}

.feedback-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  align-items: flex-start;
  -ms-flex-align: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.feedback__text {
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  margin-bottom: 20px;
}

.feedback-form__input {
  font-size: 16px;
  width: 267px;
  margin-bottom: 20px;
  padding-left: 13px;
}

.feedback-form__input--text {
  width: 100%;
}

.feedback__button {
  display: block;
  -webkit-box-align: end;
  align-items: flex-end;
  -ms-flex-align: end;
  margin-top: 7px;
  margin-left: auto;
  padding-right: 25px;
  text-shadow: none;
}

.feedback__button-close {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 28px;
  height: 30px;
  margin-top: 8px;
  margin-right: 11px;
  margin-left: 0;
  cursor: pointer;
  border: none;
  border-radius: 0;
  background-color: transparent;
  background-image: url("../img/cross-big.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin: 0;
  margin-bottom: -2px;
  padding: 0;
  list-style: none;
}

.breadcrumbs-item__link {
  font-size: 14px;
  font-weight: 300;
  position: relative;
  padding-right: 21px;
}

.breadcrumbs-item__link::after {
  position: absolute;
  top: 0;
  right: 8px;
  display: block;
  width: 6px;
  height: 6px;
  content: "»";
  text-decoration: none;
  color: white;
}

.breadcrumbs-item__link--current {
  text-decoration: none;
}

.breadcrumbs-item__link--current::after {
  display: none;
}

.inner-page {
  margin-top: -35px;
}

.inner-page__title {
  font-family: roboto, arial, sans-serif;
  font-size: 35px;
  font-weight: 900;
  margin-top: 0;
  margin-bottom: 33px;
  color: white;
}

.sorting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  align-items: stretch;
  -ms-flex-align: stretch;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-bottom: 25px;
}

.sorting__select {
  position: relative;
  display: block;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.sorting__label:last-child {
  margin-right: 0;
}

.form-sorting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  align-items: flex-start;
  -ms-flex-align: start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  min-width: 875px;
  max-width: 1146px;
}

.sorting__fieldset {
  font-family: roboto, arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  display: block;
  margin: 0;
  margin-right: 16px;
  margin-bottom: 16px;
  padding: 0;
  text-align: left;
  color: white;
  border: none;
}

.sorting__legend {
  margin-bottom: 5px;
  padding-left: 14px;
  color: white;
}

.sorting-item-wrapper {
  padding-top: 10px;
  padding-right: 14px;
  padding-bottom: 7px;
  padding-left: 14px;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, .2);
}

.sorting-item-wrapper--checkbox {
  padding-right: 20px;
}

.sorting__select {
  font-family: roboto, arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  position: relative;
  padding-right: 33px;
  padding-left: 13px;
  text-align: left;
  color: white;
}

.sorting__select::-ms-expand {
  display: none;
}

.sorting__select:hover {
  color: black;
}

.sorting__select-item {
  color: black;
}

.sorting__select-wrapper {
  position: relative;
}

.select-wrapper__icon {
  position: absolute;
  top: 9px;
  right: 13px;
}

.sorting__select:focus+.select-wrapper__icon>path {
  fill: black;
}

.sorting__select:hover+.select-wrapper__icon>path {
  fill: black;
}

.sorting__select:active+.select-wrapper__icon {
  display: none;
}

.sorting__label {
  font-family: roboto, arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  position: relative;
  margin-right: 16px;
  padding-left: 30px;
  text-align: left;
  color: white;
}

.sorting__label--radio {
  margin-right: 17px;
}

.sorting__label--checkbox {
  margin-right: 20px;
}

.sorting__label::before {
  position: absolute;
  top: -2px;
  left: -1px;
  content: "";
  cursor: pointer;
  opacity: .8;
  background-repeat: no-repeat;
  background-position: left, top;
  background-size: 100%;
}

.sorting__input:hover+.sorting__label::before {
  opacity: 1;
}

.sorting__input:disabled+.sorting__label::before {
  opacity: .4;
}

.sorting__input--type-radio+.sorting__label::before {
  width: 22px;
  height: 22px;
  background-image: url("../img/radio-off.svg");
}

.sorting__input--type-radio:checked+.sorting__label::before {
  width: 22px;
  height: 22px;
  background-image: url("../img/radio-on.svg");
}

.sorting__input--type-checkbox+.sorting__label::before {
  top: -0;
  left: -1px;
  width: 20px;
  height: 20px;
  background-image: url("../img/checkbox-off.svg");
}

.sorting__input--type-checkbox:checked+.sorting__label::before {
  top: -2px;
  left: -1px;
  width: 24px;
  height: 25px;
  background-image: url("../img/checkbox-on.svg");
}

.sorting__input:focus+.sorting__label::before {
  -webkit-box-shadow: 0 0 0 2px white;
  box-shadow: 0 0 0 2px white;
}

.sorting__input {
  position: absolute;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.sorting__button {
  font-family: "roboto", arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  display: block;
  margin-top: 21px;
  padding-top: 7px;
  padding-right: 26px;
  padding-bottom: 7px;
  padding-left: 26px;
  cursor: pointer;
  text-align: center;
  color: white;
  border: solid 2px white;
  border-radius: 20px;
}

.sorting__button:hover {
  color: black;
  background-color: white;
}

.sorting__button:active {
  color: black;
  border-color: transparent;
  background-color: rgb(237, 237, 237);
  -webkit-box-shadow: inset 0 2px 1px 0 rgba(105, 105, 105, 0.4);
  box-shadow: inset 0 2px 1px 0 rgba(105, 105, 105, .4);
}

.sorting-item-wrapper--toggle {
  position: relative;
  width: 219px;
  height: 36px;
}

.toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  cursor: pointer;
  background-image: url("../img/filter-button.svg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.toggle--1 {
  top: 7px;
  left: 37px;
}

.toggle--2 {
  top: 7px;
  left: 134px;
}

.rail {
  position: absolute;
  top: 15px;
  height: 4px;
  background-color: white;
}

.rail--1 {
  left: 54px;
  width: 85px;
}

.rail--2 {
  left: 23px;
  width: 176px;
  opacity: 0.5;
}

.inner-page__catalog {
  margin-bottom: 42px;
}
