$black-color: rgb(0, 0, 0);
$black-color-30: rgba(0, 0, 0, 0.3);


$white-color: rgb(255, 255, 255);
$white-color-15: rgba(255, 255, 255, 0.15);
$white-color-30: rgba(255, 255, 255, 0.3);

$nav-bg-color: #2a3949;
$download-bg-color: #1d2631;

$text-color: #283645;
$text-color-10: rgba(40, 54, 69, 0.1);
$text-color-30: rgba(40, 54, 69, 0.3);
$text-color-50: rgba(40, 54, 69, 0.5);
$text-color-60: rgba(40, 54, 69, 0.6);

$grey-bg: #f2f2f2;
$dark-grey: #dedede;

$quotes-color: #efefef;

$red-color: #d22856;
$red-color-30: rgba(210, 40, 86, 0.3);

$grey-border: #e5e5e5;

$green-color: #2aab6d;
$green-color-dark: #1c9b5e;
$font-family: "open sans";

$tablet-width: 660px;
$desktop-width: 960px;

$mobile-width-only: 659px;
$tablet-width-only: 959px;

$green-yes: #3dc644;
$red-no: #f25b26;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
