.catalog {
  max-width: $desktop-width;
  box-sizing: border-box;
}

@media (min-width: $tablet-width) {
  .catalog {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 5px 30px;
  }
}

@media (min-width: $desktop-width) {
  .catalog {
    margin-bottom: 45px;
    padding: 23px 40px 0;
  }
}
