.page-title {
  max-width: $desktop-width;
  margin: 0;
  padding: 15px 0 25px 20px;

  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  color: #111111;
}

.page-title--catalog {
  padding-bottom: 28px;
  border-bottom: 1px solid #ededed;
}

@media (min-width: $tablet-width) {
  .page-title {
    padding: 28px 0 20px;
    font-size: 60px;
    line-height: 60px;
  }
}

@media (min-width: $desktop-width) {
  .page-title {
    padding: 45px 0 0 0;
    border-bottom: none;
  }
}
