.catalog-grid {
  @include list-reset();

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-left: -$tablet-external-paddings;
    margin-right: -$tablet-external-paddings;
  }

  @media (min-width: $desktop-width) {
    margin-left: -$desktop-external-paddings;
    margin-right: -$desktop-external-paddings;
  }
}

.catalog-grid__item {
  @media (min-width: $tablet-width) {
    margin-left: $tablet-external-paddings;
    margin-right: $tablet-external-paddings;
  }

  @media (min-width: $desktop-width) {
    margin-left: $desktop-external-paddings;
    margin-right: $desktop-external-paddings;
  }
}
