.category {
  margin-bottom: 20px;
  padding: 20px;
  padding-top: 29px;
  padding-bottom: 19px;
  background-color: $gray-light;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 30px;
    padding-top: 76px;
    padding-bottom: 56px;
    padding-left: 52px;
    padding-right: 275px;
  }

  @media (min-width: $desktop-width) {
    width: 570px;
    margin-left: $desktop-external-paddings;
    margin-right: $desktop-external-paddings;
    margin-bottom: 0;
    padding-right: 52px;
  }
}

.category--pro {
  @media (min-width: $tablet-width) and (max-width: $desktop-width - 0.02) {
    padding-right: 312px;
    padding-bottom: 57px;
  }
}

.category__title {
  position: relative;
  margin-bottom: 30px;
  padding-left: 71px;
  font-size: $title2-font-size;
  line-height: 37px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-bottom: 24px;
    padding-left: 0;
    font-size: $title1-font-size;
    line-height: 37px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 73px;
    padding-left: 162px;
  }
}

.category__title::before {
  content: "";
  position: absolute;
  left: 2px;
  top: -5px;
  width: 50px;
  height: 50px;
  background-color: $brand-color;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    left: 394px;
    top: 16px;
    width: 200px;
    height: 200px;
  }

  @media (min-width: $desktop-width) {
    left: 0;
    top: -29px;
    width: 100px;
    height: 100px;
  }
}

.category__title--pro::before {
  @media (min-width: $tablet-width) and (max-width: $desktop-width - 0.02) {
    left: 396px;
    top: 15px;
  }
}

.category__title--slim::after {
  content: "";
  position: absolute;
  left: 10px;
  top: -8px;
  width: 35px;
  height: 49px;
  background: url("../img/icon-cat-slim.svg") no-repeat center;

  @media (min-width: $tablet-width) {
    left: 423px;
    top: 4px;
    width: 141px;
    height: 194px;
  }

  @media (min-width: $desktop-width) {
    left: 13px;
    top: -35px;
    width: 71px;
    height: 97px;
  }
}

.category__title--pro::after {
  content: "";
  position: absolute;
  left: -7px;
  top: 6px;
  width: 67px;
  height: 28px;
  background: url("../img/icon-cat-pro.svg") no-repeat center;

  @media (min-width: $tablet-width) {
    left: 360px;
    top: 59px;
    width: 268px;
    height: 113px;
  }

  @media (min-width: $desktop-width) {
    left: -18px;
    top: -8px;
    width: 134px;
    height: 57px;
  }
}

.category__desc {
  margin: 0;
  margin-bottom: 19px;
  padding-bottom: 22px;
  border-bottom: $main-divider #d9d9d9;

  @media (min-width: $tablet-width) {
    border: none;
    margin-bottom: 57px;
    padding-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 32px;
  }
}

.category__link {
  @include title();
  position: relative;
  font-size: $title3-font-size;
  line-height: 16px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }

  &:active {
    opacity: 0.3;
  }

  &::after {
    content: "";
    position: absolute;
    display: block;
    right: -36px;
    top: 50%;
    width: 25px;
    height: 13px;
    margin-top: -6px;
    background: url("../img/icon-right-arrow-long.svg") no-repeat center;

    @media (min-width: $tablet-width) {
      right: -48px;
    }
  }

  &:hover::after,
  &:focus::after {
    width: 34px;
    transform: translateX(7px);
  }

  &:active::after {
    width: 34px;
    transform: translateX(7px);
  }
}
