.features {
  @include list-reset();

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -$tablet-external-paddings;
    margin-right: -$tablet-external-paddings;
  }

  @media (min-width: $desktop-width) {
    margin-left: -$desktop-external-paddings;
    margin-right: -$desktop-external-paddings;
  }
}

.features__item {
  position: relative;
  margin-bottom: 20px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 80px;
  min-height: 60px;

  @media (min-width: $tablet-width) {
    width: 324px;
    margin-bottom: 132px;
    padding-top: 111px;
    padding-left: 0;
    padding-right: 79px;
    margin-left: $tablet-external-paddings;
    margin-right: $tablet-external-paddings;

    &:nth-last-child(-n + 2) {
      margin-bottom: 0;
    }

    &::after {
      position: absolute;
      top: -40px;
      font-family: $title-font-family;
      font-size: 281px;
      line-height: 281px;
      color: #f2f2f2;
      z-index: -1;
    }
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    margin-left: $desktop-external-paddings;
    margin-right: $desktop-external-paddings;
    margin-bottom: 0;
    padding-right: 0;
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 60px;
    height: 60px;
    background-color: $brand-color;

    @media (min-width: $tablet-width) {
      width: 80px;
      height: 80px;
    }
  }
}

.features__item--leaf {
  &::before {
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../img/advantage-leaf@1x.png");
  }

  @media (min-width: $tablet-width) {
    &::after {
      content: "1";
      left: 118px;
    }
  }
}

.features__item--drink {
  &::before {
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../img/advantage-powder@1x.png");
  }

  @media (min-width: $tablet-width) {
    &::after {
      content: "2";
      left: 111px;
    }
  }
}

.features__item--eat {
  &::before {
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../img/advantage-dining@1x.png");
  }

  @media (min-width: $tablet-width) {
    &::after {
      content: "3";
      left: 113px;
    }
  }
}

.features__item--clock {
  &::before {
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../img/advantage-clock@1x.png");
  }

  @media (min-width: $tablet-width) {
    &::after {
      content: "4";
      left: 113px;
    }
  }
}

.features__text {
  margin: 0;
}
