.parameters {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  background-color: inherit;

  @media (min-width: $tablet-width) {
    justify-content: flex-start;
  }
}

.parameters__item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 124px;
  margin-bottom: 34px;
  padding-top: 13px;
  padding-bottom: 17px;
  border: $main-divider #cdcdcd;
  border-radius: 3px;

  @media (min-width: $tablet-width) {
    width: 162px;
    margin-right: 42px;
    margin-bottom: 0;
    padding-top: 15px;
    padding-bottom: 18px;
  }
}

.parameters__name {
  position: absolute;
  top: calc(100% - 9px);
  left: 0;
  width: 100%;
  font-size: $small-font-size;
  line-height: 12px;
  text-transform: lowercase;
  text-align: center;
  order: 2;

  @media (min-width: $tablet-width) {
    top: calc(100% - 7px);
    // max-width: 100%;
    font-size: 14px;
    line-height: 14px;
  }

  // @media (min-width: $desktop-width) {
  //   background-color: $gray-light;
  // }
}

.parameters__name-ie-fixer {
  display: inline-block;
  max-width: 90px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: $gray-light;

  @media (min-width: $tablet-width) {
    max-width: 100%;
    padding-left: 8px;
    padding-right: 8px;
    background-color: #ffffff;
  }

  @media (min-width: $desktop-width) {
    background-color: $gray-light;
  }
}

.parameters__value {
  @include title();
  font-size: $title2-font-size;
  line-height: 24px;
  text-transform: uppercase;
  order: 1;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
  }
}
