.programm-selection-cta {
  position: relative;
  min-height: 480px;
  margin-bottom: 22px;
  text-align: center;
  color: $white;

  @media (min-width: $tablet-width) {
    min-height: 860px;
    margin-bottom: 0;
    text-align: left;
    color: $title-color;
  }

  @media (min-width: $desktop-width) {
    min-height: 576px;
    margin-bottom: 80px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 175px;
    display: block;
    width: 100%;
    background: url("../img/index-background-mobile@1x.jpg") no-repeat top center;
    background-color: $brand-color-dark;
    z-index: -1;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/index-background-mobile@2x.jpg");
    }

    @media (min-width: $tablet-width) and (max-width: $desktop-width - 0.02) {
      display: none;
      background: none;
    }

    @media (min-width: $desktop-width) {
      top: -120px;
      left: auto;
      width: 50.1%;
      height: 696px;
      background-image: url("../img/index-background-desktop@1x.jpg");
      background-position: top right;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/index-background-desktop@2x.jpg");
      }
    }
  }
}

.programm-selection-cta__container {
  position: relative;
  padding-top: 26px;

  @media (min-width: $tablet-width) {
    padding-left: 88px + $tablet-external-paddings;
    padding-top: 49px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 80px + $desktop-external-paddings;
    padding-top: 101px;
  }
}

.programm-selection-cta__title {
  margin-bottom: 26px;
  font-size: $title1-font-size;
  line-height: 36px;

  @media (min-width: $tablet-width) {
    margin-bottom: 42px;
    font-size: 60px;
    line-height: 60px;
  }
}

.programm-selection-cta__lead {
  line-height: 14px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}

.programm-selection-cta__img {
  position: absolute;
  bottom: 43px;
  display: block;
  width: 280px;
  height: 271px;

  @media (min-width: $tablet-width) {
    top: 251px;
    left: 29px;
    width: 709px;
    height: 609px;
    z-index: -1;
  }

  @media (min-width: $desktop-width) {
    width: 552px;
    height: 499px;
    top: 22px;
    left: 490px;
  }
}

.programm-selection-cta__button {
  margin-top: 302px;

  @media (min-width: $tablet-width) {
    margin-top: 48px;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 53px;
  }
}
