.copyright {
  width: auto;
  margin: 0 auto;
  padding: 33px 30px 15px;
}

.copyright__text {
  margin-right: 21px;
  font-size: 19px;
  font-weight: bold;
  line-height: 0.95;
}

.copyright__text:hover {
  color: #000000;
}

.copyright__text:active {
  opacity: 0.3;
}

.copyright__link {
  fill: #63d1bb;
}

.copyright__link:hover {
  fill: #46c1ae;
}

.copyright__link:active {
  opacity: 0.3;
}
