@font-face {
  font-family: "gilroyextrabold";
  src: url("../fonts/gilroy/gilroyextrabold-webfont.woff2") format("woff2"),
    url("../fonts/gilroy/gilroyextrabold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "gilroylight";
  src: url("../fonts/gilroy/gilroylight-webfont.woff2") format("woff2"),
    url("../fonts/gilroy/gilroylight-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "open_sanslight";
  src: url("../fonts/sans/opensans-light-webfont.woff2") format("woff2"),
    url("../fonts/sans/opensans-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "open_sansregular";
  src: url("../fonts/sans/opensans-regular-webfont.woff2") format("woff2"),
    url("../fonts/sans/opensans-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@-webkit-keyframes shake {

  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
}

@keyframes shake {

  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
}

@-webkit-keyframes writeus-reveal {
  0% {
    -webkit-transform: translateY(2000px);
    transform: translateY(2000px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes writeus-reveal {
  0% {
    -webkit-transform: translateY(2000px);
    transform: translateY(2000px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes map-reveal {
  0% {
    -webkit-transform: translateX(-2000px);
    transform: translateX(-2000px);
  }

  60% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  80% {
    -webkit-transform: translateX(-30px);
    transform: translateX(-30px);
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes map-reveal {
  0% {
    -webkit-transform: translateX(-2000px);
    transform: translateX(-2000px);
  }

  60% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  80% {
    -webkit-transform: translateX(-30px);
    transform: translateX(-30px);
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

.index-body,
.inner-page {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "open_sanslight", "Arial", sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #464646;
  background-color: #ffffff;
}

.index-header {
  position: relative;
  min-height: 120px;
  margin-top: 40px;
  margin-bottom: 15px;
  padding: 0 60px;
  padding-top: 35px;
  padding-bottom: 31px;
}

.index-body .header-back {
  background-image: -webkit-linear-gradient(top, #f7e296 40px, #f7e296 299px, transparent 299px);
  background-image: -o-linear-gradient(top, #f7e296 40px, #f7e296 299px, transparent 299px);
  background-image: linear-gradient(to bottom, #f7e296 40px, #f7e296 299px, transparent 299px);
  background-clip: content-box;
}

.logo {
  position: absolute;
  top: -18px;
  left: 60px;
}

.logo:hover,
.logo:focus {
  opacity: 0.6;
  outline: none;
}

.logo:active {
  opacity: 0.3;
}

.index-header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 28px;
}

.container-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 507px;
  margin-left: auto;
}

.search-container {
  position: relative;
}

.search {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  width: 440px;
  height: 46px;
  padding: 6px 36px;
  padding-right: 100px;
  font-family: inherit;
  font-size: 15px;
  line-height: 30px;
  font-weight: inherit;
  letter-spacing: 0.2px;
  color: #000000;
  background: url(../img/search.svg) 1px 16px no-repeat, transparent;
  border: none;
  border-bottom: 2px solid transparent;
}

.search::-webkit-input-placeholder {
  opacity: 0.5;
}

.search:-ms-input-placeholder {
  opacity: 0.5;
}

.search::-moz-placeholder {
  opacity: 0.5;
}

.search:-moz-placeholder {
  opacity: 0.5;
}

.search:hover::-webkit-input-placeholder {
  opacity: 1;
}

.search:hover:-ms-input-placeholder {
  opacity: 1;
}

.search:hover::-moz-placeholder {
  opacity: 1;
}

.search:hover:-moz-placeholder {
  opacity: 1;
}

.search-button {
  position: absolute;
  bottom: 0;
  right: 0;
  visibility: hidden;
  display: inline-block;
  padding: 7px 19px;
  vertical-align: middle;
  color: #000000;
  background: transparent;
  border: 2px solid #000000;
  border-bottom-color: transparent;
}

.search:focus {
  border-color: #000000;
  outline: none;
}

.search:focus+.search-button {
  visibility: visible;
}

.search-button:hover {
  color: #ffffff;
  background: #000000;
}

.search-button:active {
  color: rgba(255, 255, 255, 0.3);
  background: #000000;
}

.compare {
  position: relative;
  padding: 7px 0 7px 20px;
  font-weight: 300;
  letter-spacing: 0.2px;
  color: #000000;
}

.inner-page .compare {
  margin-left: 61px;
}

.compare::before {
  content: "";
  position: absolute;
  top: 18px;
  left: 0;
  width: 10px;
  height: 10px;
  background: url(../img/compare.svg) no-repeat;
}

.enter {
  position: relative;
  margin-right: 217px;
  padding: 7px 0 7px 33px;
  font-weight: 300;
  letter-spacing: 0.2px;
  color: #000000;
}

.enter::before {
  content: "";
  position: absolute;
  top: 16px;
  left: 7px;
  width: 13px;
  height: 12px;
  background: url(../img/user.svg) no-repeat;
}

.cart {
  font: inherit;
  position: relative;
  margin-left: auto;
  padding: 7px 1px 7px 20px;
  font-weight: 300;
  letter-spacing: 0.2px;
  color: #000000;
}

.cart::before {
  content: "";
  position: absolute;
  top: 16px;
  left: 0;
  width: 12px;
  height: 12px;
  background: url(../img/cart.svg) no-repeat;
}

.container-1 .compare:hover,
.container-1 .cart:hover,
.container-1 .enter:hover,
.container-1 .compare:focus,
.container-1 .cart:focus,
.container-1 .enter:focus {
  color: rgba(0, 0, 0, 0.6);
  outline: none;
}

.container-1 .compare:hover::before,
.container-1 .cart:hover::before,
.container-1 .enter:hover::before,
.container-1 .compare:focus::before,
.container-1 .cart:focus::before,
.container-1 .enter:focus::before {
  opacity: 0.6;
  outline: none;
}

.container-1 .compare:active,
.container-1 .cart:active,
.container-1 .enter:active {
  color: rgba(0, 0, 0, 0.3);
}

.container-1 .compare:active::before,
.container-1 .cart:active::before,
.container-1 .enter:active::before {
  opacity: 0.3;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  padding-top: 1px;
  list-style: none;
}

.nav-item>a {
  margin: 0;
  padding: 0;
  font-family: "gilroyextrabold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  color: #000000;
}

.nav-list .nav-item:nth-child(2) {
  margin-left: 270px;
  margin-right: 18px;
}

.nav-list .nav-item:last-child {
  margin-left: 94px;
  margin-right: -4px;
}

.nav-list .first-link {
  position: relative;
  padding-right: 36px;
  cursor: pointer;
}

.nav-list .first-link::before {
  content: "";
  position: absolute;
  top: 8px;
  right: 9px;
  width: 16px;
  height: 2px;
  background-color: #b8a974;
}

.nav-list .first-link::after {
  content: "";
  position: absolute;
  top: 8px;
  right: 9px;
  width: 16px;
  height: 2px;
  background-color: #b8a974;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.nav-list .nav-item {
  position: relative;
}

.catalog-container {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: none;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  position: absolute;
  top: 39px;
  left: -60px;
  width: 1160px;
  margin: 0;
  padding: 8px 59px 33px 59px;
  background: #f7e296;
  z-index: 10;
}

.catalog-container-show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.catalog-list {
  min-width: 144px;
  margin: 0;
  margin-right: 58px;
  padding: 0;
  list-style: none;
}

.catalog-list a {
  margin: 0;
  padding: 0;
  font-size: 15px;
  line-height: 36px;
  font-weight: 300;
  letter-spacing: 0.2px;
  color: #000000;
  text-transform: none;
}

.nav-list a:hover,
.nav-list a:focus {
  color: rgba(0, 0, 0, 0.6);
  outline: none;
}

.nav-list a:active {
  color: rgba(0, 0, 0, 0.3);
}

.slider {
  min-height: 486px;
  margin-bottom: 93px;
}

.slider-list {
  margin: 0;
  padding: 0;
}

.slider-item {
  display: none;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding: 0 60px;
}

.slider-item:first-child .slider-img {
  margin-left: 30px;
  margin-top: -12px;
}

.slider-item:nth-child(2) .slider-img {
  margin-left: 56px;
}

.slider-item:last-child .slider-img {
  padding-top: 53px;
}

.slider-item:last-child {
  padding-left: 31px;
}

.slider-content {
  position: relative;
  width: 500px;
}

.slider-content::before {
  content: "";
  position: absolute;
  top: 24px;
  left: 0;
  width: 100px;
  height: 7px;
  background-color: #ffffff;
}

.slide-number {
  position: absolute;
  top: -25px;
  right: -13px;
  margin: 0;
  padding: 0;
  font-family: "gilroyextrabold", "Arial", sans-serif;
  font-size: 179px;
  line-height: 179px;
  font-weight: 800;
  letter-spacing: 1.8px;
  color: #ffffff;
}

.slider-indicator {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  width: 12px;
  height: 12px;
  font-size: 0;
  vertical-align: middle;
  background: #ffffff;
  border: 1px solid #000000;
  border-radius: 50%;
  cursor: pointer;
}

#slide-1:checked~.slider-list .slider-indicator:nth-child(1)::before,
#slide-2:checked~.slider-list .slider-indicator:nth-child(2)::before,
#slide-3:checked~.slider-list .slider-indicator:nth-child(3)::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 4px;
  height: 4px;
  background: transparent;
  border: 1px solid #000000;
  border-radius: 50%;
}

#slide-1:checked~.slider-list .slider-item:nth-child(1),
#slide-2:checked~.slider-list .slider-item:nth-child(2),
#slide-3:checked~.slider-list .slider-item:nth-child(3) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider-indicator:not(:last-child) {
  margin-right: 17px;
}

.lead-text {
  position: relative;
  width: 520px;
  margin: 0;
  margin-top: 67px;
  margin-bottom: 18px;
  padding: 0;
  font-family: "gilroyextrabold", "Arial", sans-serif;
  font-size: 47px;
  line-height: 56px;
  font-weight: 800;
  letter-spacing: 0.5px;
  color: #000000;
}

.slider-text {
  width: 490px;
  margin: 0;
  margin-bottom: 43px;
  margin-left: -2px;
  padding: 0;
  font: inherit;
  letter-spacing: 0.2px;
}

.slider-item:nth-child(2) .slider-text {
  width: 450px;
}

.slider-item:last-child .slider-text {
  width: 465px;
}

.slider-custom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.slider-custom .slider-controls {
  margin-left: auto;
  margin-top: -4px;
  padding-right: 23px;

}

.slider-tabl-row:first-child {
  font-family: "gilroylight", "Arial", sans-serif;
  font-size: 36px;
  line-height: 48px;
  font-weight: 300;
  letter-spacing: 0.4px;
  color: #000000;
}

.slider-tabl {
  margin-top: 48px;
  margin-left: -2px;
}

.slider-tabl td {
  margin: 0;
  padding: 0;
  padding-bottom: 5px;
}

.slider-tabl-row:last-child {
  font-size: 13px;
  line-height: 20px;
  font-weight: 300;
  letter-spacing: 0.1px;
}

.slider-tabl-row td:first-child,
.slider-tabl-row td:last-child {
  min-width: 155px;
}

.slider-tabl-row td:nth-child(2) {
  width: 140px;
}

.catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 46px;
  padding: 0;
  list-style: none;
}

.catalog .catalog-item {
  position: relative;
  width: 160px;
  margin-right: 40px;
  margin-bottom: 35px;
}

.catalog-item .catalog-img {
  display: inline-block;
  position: relative;
  width: 160px;
  min-height: 160px;
  margin: 0;
  margin-bottom: 33px;
  padding: 0;
  vertical-align: middle;
  background: #f7e296;
}

.catalog .catalog-item:nth-child(6n) {
  margin-right: 0;
}

.catalog-item .catalog-name {
  display: inline-block;
  margin: 0;
  padding: 0;
  font-family: "gilroyextrabold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 0.2px;
  vertical-align: top;
  color: #000000;
}

.catalog-item:nth-child(2) .catalog-name {
  width: 120px;
}

.catalog-item .catalog-img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 160px;
  height: 160px;
}

.catalog-item:nth-child(1) .catalog-img::before {
  content: "";
  background: url(../img/popular-1.png) center center no-repeat;
}

.catalog-item:nth-child(2) .catalog-img::before {
  content: "";
  background: url(../img/popular-2.png) center bottom no-repeat;
}

.catalog-item:nth-child(3) .catalog-img::before {
  content: "";
  background: url(../img/popular-3.png) center center no-repeat;
}

.catalog-item:nth-child(4) .catalog-img::before {
  content: "";
  background: url(../img/popular-4.png) center center no-repeat;
}

.catalog-item:nth-child(5) .catalog-img::before {
  content: "";
  background: url(../img/popular-5.png) center center no-repeat;
}

.catalog-item:nth-child(6) .catalog-img::before {
  content: "";
  background: url(../img/poppular-6.png) center center no-repeat;
}

.catalog-wrapper-link:hover,
.catalog-wrapper-link:focus {
  outline: none;
}

.catalog-wrapper-link:hover .catalog-img,
.catalog-wrapper-link:focus .catalog-img {
  background-color: #f0c52e;
  outline: none;
}

.catalog-wrapper-link:active .catalog-img {
  background-color: #f0c52e;
}

.catalog-wrapper-link:active .catalog-img::before {
  opacity: 0.2;
}

.catalog-wrapper-link:active .catalog-name {
  opacity: 0.2;
}

.service {
  min-height: 388px;
  margin-bottom: 94px;
}

.service-back {
  padding-bottom: 69px;
  background: -webkit-linear-gradient(top, transparent 100px, #e5e5e5 100px);
  background: -o-linear-gradient(top, transparent 100px, #e5e5e5 100px);
  background: linear-gradient(to bottom, transparent 100px, #e5e5e5 100px);
}

.service .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.service-slider {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 284px;
  margin: 0;
  padding: 80px 0 46px 0;
  border-right: 7px solid #000000;
  list-style: none;
}

.service-slider .service-slider-item {
  margin: 0;
  margin-bottom: 24px;
  padding: 0;
}

.service-slider .service-slider-item:nth-child(2) {
  margin-bottom: 25px;
}

.service-label {
  display: inline-block;
  position: relative;
  min-width: 160px;
  margin: 0;
  padding: 0;
  padding: 9px 0 7px 0;
  font-family: "gilroyextrabold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 3.6px;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  background: transparent;
  color: #000000;
  cursor: pointer;
  z-index: 1;
}

.service-label::before,
.service-label::after {
  content: "";
  position: absolute;
  top: 16px;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 8px;
  background: #f0c52e;
  -webkit-transition: top 0.1s linear, height 0.1s linear;
  -o-transition: top 0.1s linear, height 0.1s linear;
  transition: top 0.1s linear, height 0.1s linear;
  z-index: -1;
}

.service-label:hover::before {
  top: 0;
  height: 20px;
}

.service-label:hover::after {
  top: 20px;
  height: 20px;
}

.service-label:active {
  color: #f7e184;
}

.service-label:active::before {
  width: 277px;
  background: #000000;
  transition: none;
}

.service-label:active::before {
  top: 0;
  height: 40px;
}

.service-label:active::after {
  width: 0;
  height: 0;
}

.toggle-1:checked~.service-slider label[for="delivery"] {
  background: transparent;
  color: #f7e184;
}

.toggle-1:checked~.service-slider li:nth-child(1) {
  background-color: #000000;
}

.toggle-2:checked~.service-slider label[for="warranty"] {
  background: transparent;
  color: #f7e184;
}

.toggle-2:checked~.service-slider li:nth-child(2) {
  background-color: #000000;
}

.toggle-3:checked~.service-slider label[for="credit"] {
  background: transparent;
  color: #f7e184;
}

.toggle-3:checked~.service-slider li:nth-child(3) {
  background-color: #000000;
}

.toggle-1:checked~.service-slider label[for="delivery"]::before,
.toggle-1:checked~.service-slider label[for="delivery"]::after,
.toggle-2:checked~.service-slider label[for="warranty"]::before,
.toggle-2:checked~.service-slider label[for="warranty"]::after,
.toggle-3:checked~.service-slider label[for="credit"]::before,
.toggle-3:checked~.service-slider label[for="credit"]::after {
  background-color: transparent;
}

.service-slide {
  display: none;
  width: 760px;
  margin: 0;
  margin-left: auto;
  padding: 0;
  padding-top: 74px;
}

.title {
  margin: 0;
  margin-bottom: 30px;
  margin-left: 1px;
  padding: 0;
  font-family: "gilroyextrabold", "Arial", sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: 800;
  letter-spacing: 0.5px;
  color: #000000;
}

.service-slide .service-text {
  width: 450px;
  margin: 0;
  padding: 0;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.2px;
  color: #464646;
}

.service-slide-3 .service-text {
  width: 435px;
}

.service-slide-1 {
  background: url(../img/delivery.png) 558px 85px no-repeat;
}

.service-slide-2 {
  background: url(../img/warranty.png) 541px 61px no-repeat;
}

.service-slide-3 {
  background: url(../img/credit.png) 535px 60px no-repeat;
}

.toggle-1:checked~.service-slide-1,
.toggle-2:checked~.service-slide-2,
.toggle-3:checked~.service-slide-3 {
  display: block;
}

.partners-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 91px;
  padding: 0;
  list-style: none;
}

.partners-list a {
  display: block;
  width: 260px;
  height: 100px;
}

.partners-list a:focus {
  outline: none;
}

.partners-list .partners-list-item:nth-child(1):hover,
.partners-list-item:nth-child(1) a:focus {
  background: url(../img/logo-1.png) 0 0 no-repeat;
}

.partners-list .partners-list-item:nth-child(2):hover,
.partners-list-item:nth-child(2) a:focus {
  background: url(../img/logo-2.png) 0 0 no-repeat;
}

.partners-list .partners-list-item:nth-child(3):hover,
.partners-list-item:nth-child(3) a:focus {
  background: url(../img/logo-3.png) 0 0 no-repeat;
}

.partners-list .partners-list-item:nth-child(4):hover,
.partners-list-item:nth-child(4) a:focus {
  background: url(../img/logo-4.png) 0 0 no-repeat;
}

.partners-list-item .partners-img:hover,
.partners-list-item .partners-img:focus {
  opacity: 0;
}

.info-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.info-container .title {
  margin-bottom: 42px;
  margin-left: -2px;
}

.about {
  position: relative;
  width: 475px;
  padding-top: 55px;
}

.about::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 0;
  width: 80px;
  height: 7px;
  background-color: #000000;
}

.text {
  margin: 0;
  margin-bottom: 30px;
  margin-left: -1px;
  padding: 0;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: normal;
  color: #464646;
}

.about .text:first-of-type {
  width: 470px;
}

.about .text:last-of-type {
  width: 475px;
}

.delserv-list {
  margin: 66px 0 54px 0;
  padding: 0;
  list-style: none;
}

.delserv-list li {
  position: relative;
  margin: 0;
  padding: 0;
  padding-left: 36px;
}

.delserv-list li::before {
  content: "";
  position: absolute;
  top: 16px;
  left: 1px;
  width: 8px;
  height: 8px;
  background-color: #e6e6e6;
  border-radius: 50%;
}

.delserv-list li::after {
  content: "";
  position: absolute;
  top: 18px;
  left: 3px;
  width: 4px;
  height: 4px;
  background-color: #ffffff;
  border-radius: 50%;
}

.delserv-list .bold-text {
  font-family: "gilroyextrabold", "Arial", sans-serif;
  font-size: 16px;
  line-height: 40px;
  font-weight: 800;
  color: #000000;
}

.stylized-elem {
  position: relative;
  display: inline-block;
  min-width: 263px;
  margin: 0;
  padding: 0;
  padding: 8px 0;
  font-family: "gilroyextrabold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 3.6px;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  color: #000000;
  background: transparent;
  border: none;
  cursor: pointer;
  z-index: 1;
}

.stylized-elem:hover,
.stylized-elem:focus {
  outline: none;
}

.stylized-elem::before,
.stylized-elem::after {
  content: "";
  position: absolute;
  top: 16px;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 8px;
  background: #f0c52e;
  -webkit-transition: top 0.1s linear, height 0.1s linear;
  -o-transition: top 0.1s linear, height 0.1s linear;
  transition: top 0.1s linear, height 0.1s linear;
  z-index: -1;
}

.stylized-elem:hover::before,
.stylized-elem:active::before {
  top: 0;
  height: 20px;
}

.stylized-elem:focus::before {
  top: 0;
  height: 20px;
}

.stylized-elem:hover::after,
.stylized-elem:focus::after,
.stylized-elem:active::after {
  top: 20px;
  height: 20px;
}

.stylized-elem:active {
  color: rgba(0, 0, 0, 0.3);
}

.slider-item .stylized-elem {
  min-width: 223px;
}

.form-writeus .stylized-elem {
  min-width: 200px;
}

.filter-form .stylized-elem {
  min-width: 204px;
}

.hover-overlay .stylized-elem {
  margin: 0 auto;
  min-width: 200px;
}

.contacts {
  position: relative;
  width: 560px;
  margin-bottom: 82px;
  margin-left: auto;
  padding-top: 55px;
}

.contacts::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 0;
  width: 80px;
  height: 7px;
  background-color: #000000;
}

.contacts .text:last-of-type {
  margin-bottom: 39px;
}

.minimap {
  display: block;
  width: 560px;
  height: 222px;
  margin-bottom: 69px;
  cursor: pointer;
}

.modal {
  display: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  -webkit-box-shadow: 0 8px 16px -10px rgba(0, 0, 0, 0.8);
  box-shadow: 0 8px 16px -10px rgba(0, 0, 0, 0.8);
  z-index: 10;
}

.modal-show {
  display: block;
}

.modal-writeus.modal-show {
  -webkit-animation-name: writeus-reveal;
  animation-name: writeus-reveal;
  -webkit-animation-duration: .6s;
  animation-duration: .6s;
}

.modal-writeus.modal-error {
  -webkit-animation-name: shake;
  animation-name: shake;
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
}

.modal-writeus {
  position: fixed;
  top: 35px;
  left: 50%;
  width: 960px;
  margin: 0;
  margin-left: -480px;
  padding: 79px 100px;
  padding-top: 90px;
  background: #ffffff;
}

.modal-close {
  position: absolute;
  top: 22px;
  right: 22px;
  width: 55px;
  height: 55px;
  margin: 0;
  padding: 0;
  font-size: 0;
  background-color: #f7e296;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.modal-close::before {
  content: "";
  position: absolute;
  top: 27px;
  left: 17px;
  width: 22px;
  height: 2px;
  background-color: #ffffff;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.modal-close::after {
  content: "";
  position: absolute;
  top: 27px;
  left: 17px;
  width: 22px;
  height: 2px;
  background-color: #ffffff;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.modal-close:hover,
.modal-close:focus {
  background-color: #f0c52e;
  outline: none;
}

.modal-close:active {
  opacity: 0.3;
}

.form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.form-column {
  width: 360px;
}

.form-label {
  margin: 0;
  padding: 0;
  font-family: "gilroyextrabold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: #000000;
}

.form-input {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 360px;
  margin: 0;
  margin-bottom: 31px;
  margin-top: 5px;
  padding: 15px 20px;
  font-family: "open_sansregular", "Arial", sans-serif;
  ;
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  color: #464646;
  background-color: #f2f2f2;
  border: none;
}

.form-letter {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  min-height: 155px;
  margin: 0;
  margin-bottom: 30px;
  margin-top: 5px;
  padding: 15px 20px;
  font-family: inherit;
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  color: #464646;
  background-color: #f2f2f2;
  border: none;
  resize: none;
  overflow: auto;
}

.form-input:hover,
.form-letter:hover {
  background-color: #ebebeb;
}

.form-input:focus,
.form-letter:focus {
  background-color: #ffffff;
  outline: 3px solid #f7e296;
}

.form-input:invalid {
  background-color: #f6dada;
}

.modal-map {
  position: fixed;
  top: 35px;
  left: 50%;
  margin: 0;
  margin-left: -480px;
  padding: 0;
  width: 960px;
  height: 560px;
  background-image: url(../img/map-big.png) no-repeat;
  background-color: #e5e5e5;
  overflow: hidden;
}

.modal-map.modal-show {
  -webkit-animation-name: map-reveal;
  animation-name: map-reveal;
  -webkit-animation-duration: .8s;
  animation-duration: .8s;
}

.modal-map iframe {
  border: none;
}

.footer {
  padding: 65px 0;
  padding-bottom: 60px;
  background-color: #464646;
}

.footer .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.top-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 26px;
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  min-width: 326px;
  margin-top: -5px;
}

.enter-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.enter-footer {
  position: relative;
  padding-left: 27px;
  line-height: 36px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.7)
}

.compare-footer {
  position: relative;
  padding-left: 23px;
  line-height: 36px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.7)
}

.cart-footer {
  position: relative;
  padding-left: 26px;
  line-height: 36px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.7)
}

.enter-footer::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 1px;
  width: 13px;
  height: 12px;
  background: url(../img/user-footer.svg) no-repeat;
}

.compare-footer::before {
  content: "";
  position: absolute;
  top: 14px;
  left: 4px;
  width: 10px;
  height: 10px;
  background: url(../img/compare-footer.svg) no-repeat;
}

.cart-footer::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 3px;
  width: 12px;
  height: 12px;
  background: url(../img/cart-footer.svg) no-repeat;
}

.footer-text {
  margin: 0;
  font: inherit;
  font-style: normal;
  font-weight: 300;
  color: #ffffff;
}

.compare-footer:hover,
.cart-footer:hover,
.enter-footer:hover,
.compare-footer:focus,
.cart-footer:focus,
.enter-footer:focus {
  color: #ffffff;
  outline: none;
}

.compare-footer:hover::before,
.cart-footer:hover::before,
.enter-footer:hover::before,
.compare-footer:focus::before,
.cart-footer:focus::before,
.enter-footer:focus::before {
  opacity: 0.6;
  outline: none;
}

.compare-footer:active,
.cart-footer:active,
.enter-footer:active {
  color: rgba(255, 255, 255, 0.3);
}

.compare-footer:active::before,
.cart-footer:active::before,
.enter-footer:active::before {
  opacity: 0.3;
}

.center-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 53px;
}

.center-row address {
  margin-top: -6px;
}

.tel {
  margin-left: auto;
  margin-top: -8px;
  padding-right: 1px;
  x-ms-format-detection: none;
}

.footer-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 428px;
  margin: 0;
  margin-top: -2px;
  margin-left: 165px;
  padding: 0;
  list-style: none;
}

.footer-nav a {
  font-family: "gilroyextrabold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-nav a:hover,
.footer-nav a:focus {
  opacity: 0.5;
  outline: none;
}

.footer-nav a:active {
  opacity: 0.3;
}

.bottom-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.line {
  width: 80px;
  height: 7px;
  background: #ffc600;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 143px;
  margin: 0;
  margin-left: 428px;
  padding: 0;
  list-style: none;
}

.social-item {
  display: block;
  width: 32px;
  height: 32px;
  font-size: 0;
  border-radius: 50%;
  opacity: 0.3;
}

.social-item:hover,
.social-item:focus {
  opacity: 0.6;
  outline: none;
}

.social-item:active {
  opacity: 0.1;
}

.fb {
  background: url(../img/facebook.png) center center no-repeat;
}

.inst {
  background: url(../img/instagram.png) center center no-repeat;
}

.tw {
  background: url(../img/twitter.png) center center no-repeat;
}

.inner-page .footer-container {
  min-width: 485px;
}

.footer .user-list {
  margin-top: 3px;
  padding-top: 0;
}

.footer .user-name::before {
  background: url(../img/user-footer.svg) no-repeat;
}

.footer .logout {
  color: rgba(255, 255, 255, 0.3);
}

.footer .logout:hover,
.footer .logout:focus {
  color: #ffffff;
  outline: none;
}

.footer .logout:active {
  color: rgba(255, 255, 255, 0.6);
}

.footer .user-name {
  color: rgba(255, 255, 255, 0.7);
}

.footer-logo:hover,
.footer-logo:focus {
  opacity: 0.6;
  outline: none;
}

.footer-logo:active {
  opacity: 0.3;
}

.academy-logo {
  margin-left: auto;
  margin-top: 5px;
}

.academy-logo:hover,
.academy-logo:focus {
  opacity: 0.6;
  outline: none;
}

.academy-logo:active {
  opacity: 0.3;
}

.inner-header {
  position: relative;
  min-height: 120px;
  margin-top: 40px;
  padding: 0 60px;
  padding-top: 35px;
  padding-bottom: 31px;
  background-color: #f7e296;
}

.inner-header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 28px;
}

.user-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 225px;
  margin: 0;
  padding: 5px 0;
  padding-top: 7px;
  padding-right: 5px;
  list-style: none;
}

.user-name {
  display: inline-block;
  position: relative;
  padding: 0 5px 0 33px;
  letter-spacing: 0.2px;
  vertical-align: top;
  color: #000000;
}

.user-name::before {
  content: "";
  position: absolute;
  top: 9px;
  left: 7px;
  width: 13px;
  height: 12px;
  background: url(../img/user.svg) no-repeat;
}

.user-name:hover,
.user-name:focus {
  opacity: 0.6;
  outline: none;
}

.user-name:active {
  opacity: 0.3;
}

.logout {
  margin-left: 13px;
  color: rgba(0, 0, 0, 0.3);
}

.logout:hover,
.logout:focus {
  color: #000000;
  outline: none;
}

.logout:active {
  color: rgba(0, 0, 0, 0.6);
}

.page-title {
  margin: 38px 0;
  margin-bottom: 20px;
  margin-left: 60px;
  padding: 0;
  font-family: "gilroyextrabold", "Arial", sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: 800;
  letter-spacing: 0.5px;
  color: #000000;
}

.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  margin-bottom: 43px;
  margin-left: 60px;
  padding: 0;
  list-style: none;
}

.breadcrumbs li:not(:last-child) {
  position: relative;
  margin: 0;
  margin-right: 17px;
  padding: 0;
  padding-right: 19px;
}

.breadcrumbs li:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 13px;
  right: 0;
  width: 4px;
  height: 7px;
  background: url(../img/nav-arrow.png) no-repeat;
}

.breadcrumbs li:nth-child(2) {
  margin-right: 16px;
  padding-right: 23px;
}

.breadcrumbs-link {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  letter-spacing: 0.1px;
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs a[href]:hover,
.breadcrumbs a[href]:focus {
  color: #7a7a7a;
  outline: none;
}

.breadcrumbs a[href]:active {
  color: rgba(0, 0, 0, 0.6);
}

.fc-back {
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #d9d9d9), color-stop(50%, #ebebeb));
  background: -webkit-linear-gradient(left, #d9d9d9 50%, #ebebeb 50%);
  background: -o-linear-gradient(left, #d9d9d9 50%, #ebebeb 50%);
  background: linear-gradient(to right, #d9d9d9 50%, #ebebeb 50%);
}

.fc-back .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fc-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 1217px;
}

.fc-container-back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fc-container-back .wrapper {
  padding: 0;
}

.fc-container-back::before,
.fc-container-back::after {
  content: "";
  width: 20px;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.fc-container-back::before {
  background-color: #ebebeb;
}

.fc-container-back::after {
  background-color: #ffffff;
}

.filter {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 328px;
  margin: 0;
  padding: 0;
  background-color: #ebebeb;
}

.section-title {
  margin: 0;
  padding: 0;
  font-family: "gilroyextrabold", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 3.2px;
  text-transform: uppercase;
  color: #000000;
}

.filter-title {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 328px;
  padding: 23px 0;
  padding-left: 60px;
  padding-right: 179px;
}

.filter-form {
  width: 200px;
  margin: 0;
  margin-left: 56px;
  padding: 0;
  padding-top: 69px;
}

.filter-form fieldset {
  margin: 0;
  margin-bottom: 27px;
  padding: 0;
  border: none;
}

.filter-form fieldset:first-child {
  margin-bottom: 33px;
}

.filter-form .form-legend {
  position: relative;
  margin: 0;
  padding: 0;
  padding-top: 12px;
  font-family: "gilroyextrabold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 0.2px;
  color: #000000;
}

.filter-form .form-legend::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 203px;
  height: 2px;
  background-color: #000000;
}

.range-line {
  position: relative;
  width: 200px;
  height: 2px;
  margin-top: 35px;
  margin-bottom: 4px;
  background-color: #dbdbdb;
}

.range-toggle {
  position: absolute;
  top: -9px;
  left: 0;
  width: 4px;
  height: 4px;
  background-color: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.range-toggle-min {
  left: -2px;
}

.range-toggle-max {
  left: 111px;
}

.range-toggle-min:hover,
.range-toggle-max:hover {
  top: -10px;
  border-width: 9px;
}

.bar {
  width: 118px;
  height: 2px;
  background-color: #91c92f
}

.price-label {
  display: inline-block;
  min-height: 24px;
  font-family: "gilroylight", "Arial", sans-serif;
  ;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  vertical-align: middle;
  color: rgba(0, 0, 0, 0.2);
}

.price-input {
  min-height: 24px;
  width: 55px;
  margin-right: 10px;
  padding-left: 5px;
  font: inherit;
  color: inherit;
  background: transparent;
  border: none;
}

.checkbox-list {
  margin: 0;
  padding: 0;
  padding-top: 17px;
  padding-bottom: 5px;
  list-style: none;
}

.checkbox-list li {
  margin: 0;
  padding: 0;
}

.label-text {
  position: relative;
  margin: 0;
  padding: 0;
  padding-left: 42px;
  font-size: 14px;
  line-height: 40px;
  font-weight: 300;
  letter-spacing: 0.1px;
  text-align: center;
  color: #000000;
}

.checkbox-list .label-text::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  content: "";
  position: absolute;
  top: -2px;
  left: 2px;
  width: 23px;
  height: 23px;
  border: 2px solid #000000;
  border-radius: 3px;
}

.checkbox-list input[type="checkbox"]:checked+.label-text::before {
  width: 27px;
  height: 23px;
  background: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='27px' height='23px' viewBox='0 0 27 23' enable-background='new 0 0 27 23' xml:space='preserve'%3E%3Cg id='Layer_1'%3E%3C/g%3E%3Cg id='Layer_2'%3E%3Cg%3E%3Cpolygon points='7.285,7.486 4.456,10.315 12.239,18.098 26.171,4.166 23.343,1.337 12.239,12.439 '/%3E%3Cpath d='M21,20c0,0.542-0.458,1-1,1H3c-0.542,0-1-0.458-1-1V3c0-0.542,0.458-1,1-1h16.908l1.585-1.585C21.051,0.158,20.545,0,20,0 H3C1.35,0,0,1.35,0,3v17c0,1.65,1.35,3,3,3h17c1.65,0,3-1.35,3-3v-9.829l-2,2V20z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E") no-repeat;
  border: none;
}

.radio-list {
  margin: 0;
  padding: 0;
  padding-top: 17px;
  padding-bottom: 5px;
  padding-left: 2px;
  list-style: none;
}

.radio-list .label-text {
  padding-left: 40px;
}

.radio-list .label-text::before {
  content: "";
  position: absolute;
  top: -3px;
  left: 0;
  width: 17px;
  height: 17px;
  background-color: transparent;
  border: 4px solid #000000;
  border-radius: 50%;
}

.radio-list input[type="radio"]:checked+.label-text::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 8px;
  width: 9px;
  height: 9px;
  background-color: #000000;
  border-radius: 50%;
}

.filter-form input:focus+.label-text::before,
.filter-form input:focus+.label-text::after {
  opacity: 0.5;
  outline: none;
}

.label-text:hover::before,
.label-text:hover::after {
  opacity: .5;
}

.label-text:active::before,
.label-text:active::after {
  opacity: 1;
}

.filter-input:disabled+.label-text::before,
.filter-input:disabled+.label-text::after {
  opacity: 0.3;
}

.products {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 832px;
}

.sort-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 832px;
  padding: 23px 0 22px 0;
  background: #ebebeb;
}

.sort-title {
  margin-right: 55px;
  margin-left: 73px;
}

.sort-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 460px;
  margin: 0;
  margin-top: -5px;
  padding: 0;
  list-style: none;
}

.sort-list li {
  margin-right: 30px;
}

.sort-list li:nth-child(2) {
  margin-right: 32px;
}

.sort-list .sort-text {
  font: inherit;
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  letter-spacing: normal;
  color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.sort-list .sort-text-last {
  letter-spacing: 0.3px;
}

.sort-text:hover,
.sort-text:focus {
  color: rgba(0, 0, 0, 0.6);
  outline: none;
}

.sort-text:active {
  color: #000000;
}

.sort-list .sort-current {
  color: #000000;
}

.arrow-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 40px;
  margin-left: auto;
  padding-top: 7px;
}

.arrow {
  margin: 0;
  padding: 0;
  width: 0;
  height: 0;
  font-size: 0;
  background: transparent;
  border: none;
  border-bottom: 10px solid #d3d2d2;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

.arrow-down {
  margin-left: 20px;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.cur-arrow {
  border-bottom-color: #231f20;
}

.arrow:hover,
.arrow:focus {
  border-bottom-color: #a7a5a6;
  outline: none;
}

.arrow:active {
  border-bottom-color: #231f20;
}

.products-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 800px;
  margin: 0;
  margin-left: 32px;
  margin-bottom: 35px;
  padding: 0;
  padding-top: 25px;
  list-style: none;
}

.products-list li {
  position: relative;
  width: 360px;
  margin-top: 44px;
  margin-left: 40px;
}

.products-list .new::before {
  content: "NEW";
  position: absolute;
  top: 31px;
  right: 23px;
  padding: 15px 14px;
  font-family: "gilroyextrabold", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #bfbfbf;
  background: transparent;
  border: 2px solid #bfbfbf;
  border-radius: 50%;
}

.products-list p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  padding-top: 24px;
}

.product-name {
  margin: 0;
  padding: 0;
  width: 270px;
  font-family: "gilroyextrabold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 0.2px;
  color: #000000;
  word-break: normal;
}

.price {
  margin: 0;
  margin-left: auto;
  padding: 0;
  font-family: "gilroylight", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  letter-spacing: 0.2px;
  color: #464646;
}

.hover-overlay {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 380px;
  padding: 0 80px;
  padding-top: 44px;
  background: rgba(238, 238, 238, 0.6);
}

.products-list-item:hover>.hover-overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hover-overlay-text {
  margin: 0 auto;
  margin-top: 4px;
  padding: 0;
  font: inherit;
  font-size: 13px;
  line-height: 36px;
  font-weight: 300;
  letter-spacing: 0.1px;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
  background: transparent;
  border: none;
  cursor: pointer;
}

.hover-overlay-text:hover,
.hover-overlay-text:focus {
  color: #000000;
  outline: none;
}

.hover-overlay-text:active {
  color: rgba(0, 0, 0, 0.3);
}

.page-control-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 760px;
  margin-left: 72px;
  margin-bottom: 75px;
  background: #ebebeb;
}

.page-control-button {
  margin: 0;
  padding: 22px 28px;
  padding-top: 24px;
  padding-left: 30px;
  font-family: "gilroyextrabold", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 3.2px;
  text-transform: uppercase;
  color: #000000;
  background: transparent;
  border: none;
  cursor: pointer;
}

.page-control-button:hover,
.page-control-button:focus {
  background: #d9d9d9;
  outline: none;
}

.page-control-button:active {
  color: rgba(0, 0, 0, 0.3);
}

.page-control-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  padding-left: 40px;
  min-width: 90px;
  list-style: none;
}

.page-control-list li {
  margin: 0;
  padding-right: 28px;
}

.page-control-list .control-text {
  margin: 0;
  padding: 0;
  font-family: "gilroyextrabold", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 3.2px;
  color: rgba(0, 0, 0, 0.3);
}

.page-control-list .control-text-current {
  color: #000000;
}

.control-text:hover,
.control-text:focus {
  color: rgba(0, 0, 0, 0.6);
  outline: none;
}

.control-text:active {
  color: #000000;
}