.color {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 4px;
  margin-bottom: 11px;
}

.color__point {
  margin-bottom: 19px;
}

.color__name {
  @include title(17px,18px);
  display: flex;
  position: relative;
  align-items: center;
}

.color__name::before {
  content: "";
  width: 37px;
  height: 38px;
  border: 2px solid #444444;
  margin-right: 20px;
}

.color__name:hover::before {
  border-color: #63d1bb;
}

.color__name:focus::before {
  border-color: #63d1bb;
}

.color__name:active::before {
  border-color: #63d1bb;
}

input:checked + .color__name::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  background-image: url("./../img/icon-tick.svg");
  background-repeat: no-repeat;
  top: 10px;
  left: 6px;
}

@media (min-width: 768px) {
  .color {
    margin-left: 43px;
    margin-top: 0;
    flex-direction: row;
  }

  .color__point {
    width: 48%;
  }

  .color__list {
    flex-direction: row;
    flex-wrap: wrap;
    width: 500px;
  }

  .color__name::before {
    width: 52px;
    height: 52px;
    margin-right: 27px;
  }

  input:checked + .color__name::after {
    top: 14px;
    left: 12px;
    width: 30px;
    height: 26px;
  }

  .color__name {
    font-size: 19px;
  }
}

@media (min-width: 1150px) {
  .color {
    margin-left: 0;
  }

  .color__point {
    width: 30%;
    padding-right: 5px;
  }
}
