.contacts__wrapper-grid {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
}

.contacts__map-box {
  width: 100%;
  height: 457px;
}

.contacts__img-box {
  top: 0;
  z-index: -1;
  width: 100%;
  height: 457px;
  position: absolute;
}

.contacts__map {
  width: 100%;
  height: 457px;
}

.contacts__grid {
  max-width: 320px;
  padding: 0 20px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.contacts__title {
  @include title();
  position: relative;
  margin-top: 39px;
  margin-bottom: 20px;
  font-size: 19px;
}

.contacts__list {
  @include text(15px, 30px);
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.contacts__value {
  padding-bottom: 27px;
}

.contacts__field {
  padding-right: 25px;
  vertical-align: top;
  padding-bottom: 30px;
}

.contacts__write {
  @include button();
  margin-top: 40px;
}

.contacts__write:hover {
  background-color: #444444;
  color: #ffffff;
}

.contacts__write:active span {
  opacity: 0.3;
}

.contacts__links {
  @include text(15px, 30px);
  padding-bottom: 5px;
  border-bottom: 1px solid #62d1ba;
  text-decoration: none;
}

.contacts__links:hover {
  color: #46c1ae;
}

.contacts__links:active {
  opacity: 0.3;
  color: #46c1ae;
}

.contacts__grid-button {
  width: 260px;
  margin: auto;
  padding: 0 30px;
}

.contacts__map-grid {
  position: relative;
}

.contacts__picture {
  width: 100%;
}

@media (min-width: 768px) {
  .contacts {
    margin-bottom: 4px;
    justify-content: space-between;
  }

  .contacts__wrapper-grid {
    margin-bottom: 4px;
    justify-content: space-between;
  }

  .contacts__field {
    padding-right: 20px;
  }

  .contacts__grid {
    padding: 0 47px;
    max-width: 768px;
  }

  .contacts__grid-button {
    padding: 22px 40px;
    width: 230px;
    margin: 0 auto;
  }

  .contacts__write {
    margin: 30px auto;
    width: 230px;
  }

  .contacts__list tbody {
    display: flex;
  }

  .contacts__value br {
    display: none;
  }

  .contacts__value {
    padding-top: 0;
  }

  .contacts__string {
    width: 49.5%;
  }

  .contacts__title {
    margin-bottom: 47px;
    font-size: 43px;
    line-height: 50px;
  }

  .contacts__title::before {
    position: absolute;
    content: "";
    width: 50px;
    height: 85px;
    background-image: url("./../img/icon-flag.svg");
    background-repeat: no-repeat;
    top: -16px;
    right: 5px;
  }

  .contacts__img-wrapper {
    display: flex;
    flex-direction: column;
  }

  .contacts__list {
    font-size: 17px;
    padding-bottom: 20px;
  }

  .contacts__links {
    font-size: 17px;
    padding-bottom: 1px;
  }
}

@media (min-width: 1150px) {
  .contacts {
    margin-bottom: 0;
  }

  .contacts__field {
    padding-right: 25px;
  }

  .contacts__wrapper-grid {
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1050px;
    padding: 0 50px;
    margin: 0 auto 84px;
  }

  .contacts__title {
    font-size: 53px;
    line-height: 57px;
    padding-top: 35px;
    margin-bottom: 43px;
  }

  .contacts__grid {
    margin: 0 0 0 121px;
    order: -5;
  }

  .contacts__map-grid {
    width: 525px;
    height: 457px;
  }

  .contacts__write {
    width: 230px;
    order: 1;
    margin: 0;
  }

  .contacts__list tbody {
    display: table-row-group;
  }

  .contacts__value {
    width: 200px;
  }

  .contacts__title::before {
    left: -107px;
    top: 27px;
  }

  .contacts__img-wrapper {
    display: flex;
    flex-direction: row;
  }

  .contacts__grid-button {
    margin: -75px 0 0 135px;
  }

  .contacts__map-box {
    width: 525px;
    height: 457px;
  }

  .contacts__img-box {
    position: absolute;
    top: 0;
    z-index: -1;
  }
}
