.production {
  margin: 0 0 53px;
}

.production__title {
  @include title(17px,24px);
  text-align: left;
  padding: 25px 0 25px 90px;
  position: relative;
  border: 1px solid #ececec;
  margin: 0;
}

.production__title::before {
  content: "";
  position: absolute;
  width: 35px;
  height: 30px;
  background-image: url("./../img/video.svg");
  background-repeat: no-repeat;
  left: 34px;
  top: 32px;
}

.production__description {
  @include text(13px,24px);
  margin: 0;
}

.production__order {
  @include button(15px,20px);
  width: 100%;
  margin-top: 23px;
}

.production__order:hover {
  background-color: #444444;
  color: #ffffff;
}

.production__order:active span {
  opacity: 0.3;
}

.production__description-wrapper {
  display: flex;
  flex-direction: column;
  border: 1px solid #ececec;
  border-top: none;
  padding: 22px 33px 35px;
}

.production__grid {
  max-width: 320px;
  padding: 0 30px;
  margin: 0 auto;
}

.production__shadow {
  display: flex;
  flex-direction: column;
}

.production__shadow:hover {
  box-shadow: 0 6px 10px 0 #ececec;
}

.production__shadow:active {
  box-shadow: 0 3px 5px 0 #ececec;
}

.production__img-wrapper {
  position: relative;
}

.production__img-wrapper::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 80px;
  background-image: url("./../img/icon-play.svg");
  background-repeat: no-repeat;
  left: 79px;
  bottom: 39px;
}

.production__img-wrapper:hover::after {
  width: 120px;
  height: 96px;
  background-size: 100%;
}

.production__img-wrapper:active::after {
  width: 80px;
  height: 64px;
  background-size: 100%;
  opacity: 0.7;
}

@media (min-width: 768px) {
  .production {
    margin: 0 0 72px;
  }

  .production__grid {
    max-width: 768px;
    margin: 0 auto;
    padding: 0 50px;
  }

  .production__video {
    order: -1;
    height: 455px;
    width: 100%;
  }

  .production__title {
    border: none;
    order: 1;
    border-left: 1px solid #ececec;
    border-right: 1px solid #ececec;
    font-size: 20px;
    padding: 35px 0 25px 105px;
  }

  .production__title::before {
    top: 30px;
    left: 41px;
  }

  .production__description {
    margin-bottom: 35px;
    font-size: 15px;
    line-height: 30px;
  }

  .production__order {
    margin: 0 auto 50px;
    width: 100%;
    margin-bottom: 0;
  }

  .production__img-wrapper {
    order: -2;
    height: 460px;
  }

  .production__img-wrapper::after {
    left: 285px;
    bottom: 189px;
  }

  .production__img-wrapper:hover::after {
    left: 280px;
    bottom: 175px;
  }

  .production__img-wrapper:active::after {
    left: 305px;
    bottom: 195px;
  }

  .production__description-wrapper {
    padding: 7px 40px 35px;
    order: 2;
  }
}

@media (min-width: 1150px) {
  .production {
    margin: 0 0 100px;
  }

  .production__grid {
    max-width: 1050px;
  }

  .production__shadow {
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 450px;
  }

  .production__video {
    order: 1;
    width: 682px;
    height: 460px;
  }

  .production__description-wrapper {
    padding: 3px 59px 50px 77px;
    max-width: 22%;
    align-items: flex-end;
    flex-direction: column;
    margin-left: 684px;
    margin-top: -283px;
  }

  .production__order {
    width: 100%;
  }

  .production__title {
    padding: 96px 89px 35px 77px;
    text-align: left;
    width: 200px;
    font-size: 20px;
    border-top: 1px solid #ececec;
    height: 30%;
  }

  .production__title::before {
    left: 77px;
    top: 43px;
  }

  .production__description {
    line-height: 30px;
    margin-bottom: 45px;
    max-width: 230px;
  }
}
