@font-face {
  font-weight: normal;
  font-family: "OpenSans";
  font-style: normal;
  font-display: swap;
  src: url("fonts/opensans.woff2") format("woff2"), url("opensans.woff") format("woff");
}

@font-face {
  font-weight: bold;
  font-family: "PT Sans Narrow";
  font-style: normal;
  font-display: swap;
  src: url("fonts/opensansbold.woff2") format("woff2"), url("fonts/opensansbold.woff") format("woff");
}
