.site-list {
  display: flex;
  flex-direction: column;
}

.site-list__item {
  text-align: center;
}

.site-list__item a {
  display: block;
  padding: 15px 0 15px 0;

  font-size: 18px;
  line-height: 32px;
  font-weight: 700;
  color: $white-color;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;

  border-top: 1px solid $white-color-15;
  border-bottom: 1px solid $black-color;
}

.site-list__item a[href] {
  &:hover,
  &:focus {
    color: $red-color;
  }

  &:active {
    color: $red-color-30;
  }
}

@media (min-width: $desktop-width) {
  .site-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .site-list__item {

    margin-right: 80px;

    &:last-child {
      margin-right: 0;
    }

    &--active {
      position: relative;

      &::after {
        content: "";

        position: absolute;
        right: 0;
        bottom: -3px;
        left: 0;

        height: 2px;

        background: $white-color;
      }
    }
  }

  .site-list__item a {
    line-height: 18px;
    font-weight: 400;

    text-transform: none;
    border: none;
  }

  .site-list__item a[href] {
    &:active {
      color: $white-color-30;
    }
  }
}
