//Сброс стилей у списков
@mixin list-reset() {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
//Стилизация строк в хедере
@mixin header-row() {
  display: flex;
  align-items: center;
  min-height: $header-row-height;
  border-bottom: 1px solid #e6e6e6;
}
//Базовые стили заголовков
@mixin title() {
  margin: 0;
  font-family: $title-font-family;
  color: $title-color;
  font-weight: 400;
}
//Внешние паддинги по краям страницы
@mixin ext-paddings() {
  padding-left: $mobile-external-paddings;
  padding-right: $mobile-external-paddings;

  @media (min-width: $tablet-width) {
    padding-left: $tablet-external-paddings;
    padding-right: $tablet-external-paddings;
  }

  @media (min-width: $desktop-width) {
    padding-left: $desktop-external-paddings;
    padding-right: $desktop-external-paddings;
  }
}
//Центровщик
@mixin container() {
  @include ext-paddings();
  width: $mobile-width;
  max-width: 1440px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: $tablet-width;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
  }
}
//Центровщик только для планшетной ширины
@mixin container-tablet() {
  @media (min-width: $tablet-width) {
    width: $tablet-width;
    max-width: 1440px;
    margin: 0 auto;
    padding-left: $tablet-external-paddings;
    padding-right: $tablet-external-paddings;
  }
}
//Центровщик только для десктопной ширины
@mixin container-desktop() {
  @media (min-width: $desktop-width) {
    width: $desktop-width;
    max-width: 1440px;
    margin: 0 auto;
    padding-left: $desktop-external-paddings;
    padding-right: $desktop-external-paddings;
  }
}
//Сброс центровщика
@mixin container-reset() {
  width: auto;
  margin: 0;
  padding-left: 0;
  padding-right: 0;
}
