*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  min-width: $mobile-width;

  font-family: $text-font-family;
  font-size: $text-font-size;
  font-weight: 400;
  line-height: $text-line-height;
  color: $text-color;
  // background-color: red;

  @media (min-width: $tablet-width) {
    font-size: $text2-font-size;
    line-height: $text2-line-height;
  }
}

.site-wrapper {
  overflow: hidden;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}
