$font-stack: "Open Sans", "Arial", sans-serif;
$font-size-h2: 25px;
$line-height-title: 30px;
$font-size-base: 15px;
$line-height-base: 24px;
$primary-color: #ececec;
$secondary-color: #f1f1f1;
$seafoam-blue: #63d1bb;
$greeny-blue: #56c3b2;
$very-dark-brown: #010000;
$text-color: #444444;
$title-color: #000000;
$link-color: #444444;
$link-color--hover: #46c1ae;
$bg-base: #ffffff;
$tablet-width: 768px;
$desktop-width: 1150px;
$retina: "(min-resolution: 144dpi), (min-resolution: 1.5dppx)";
